<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>452192891402-hp99o81mdl4jno876jeo1o20odfr3kgr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.452192891402-hp99o81mdl4jno876jeo1o20odfr3kgr</string>
	<key>API_KEY</key>
	<string>AIzaSyCSvPenkLeLqXbt6p0KjdhVuM2b4GmQ1ok</string>
	<key>GCM_SENDER_ID</key>
	<string>452192891402</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.Where2Eat</string>
	<key>PROJECT_ID</key>
	<string>where2eat-e075f</string>
	<key>STORAGE_BUCKET</key>
	<string>where2eat-e075f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:452192891402:ios:d67a5da7c67489a22265f3</string>
</dict>
</plist>